#region-blocks {
  padding-right: 0;

  .block-region {
    .block {
      border: none;
      background-color: @white;
      margin-bottom: 10px;
      border-radius: 0;

      .z-depth-1;

      .header {
        background: #fff;
        border-bottom: 1px solid #e9e9e9;
        padding: 0;

        h2 {
          color: #3D3C3C;
          font-weight: normal;
          font-size: 21px;
          padding: 18px;
          text-transform: none;
        }
      }

      .block_tree {
        font-size: 14px;

        .tree_item {
          margin: 5px 0;
        }
      }
    }
  }
}
