#course-page #page-content #region-main {
  padding: 0;
}

#page-course-view-onetopic .navbar {
  margin-bottom: 0;
}

#course-page #page-content .course-content .single-section {
  margin-top: 0;
}

#course-page #maincontent {
  display: none;
}
