.navbar {
  border: none;
  background-color: @main-color;
  border-radius: @border-radius;
  color: @white;

    a {
      color: @white;
    }
}

.navbar-default {
  .navbar-brand {
    color: @white;
  }
}
